table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  /* border-bottom: 1px solid #ddd; */
  padding: 8px;
}

table tr:nth-child(odd) {
  background-color: #fafafc;
}

/* table tr:hover {
  background-color: #ddd;
} */

table th,
tfoot td {
  text-align: start;
  font-weight: 700;
  background-color: #f4f4fb;
  padding-top: 12px;
  padding-bottom: 12px;
}
