@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Noto Sans KR', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

@layer base {
  :root {
    --background: 212 64% 98%;
    --foreground: 212 69% 0%;
    --muted: 212 25% 90%;
    --muted-foreground: 212 11% 25%;
    --popover: 212 64% 98%;
    --popover-foreground: 212 69% 0%;
    --card: 212 64% 98%;
    --card-foreground: 212 69% 0%;
    --border: 212 6% 91%;
    --input: 212 6% 91%;
    --primary: 212 100% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 8% 89%;
    --secondary-foreground: 212 8% 29%;
    --accent: 212 14% 80%;
    --accent-foreground: 212 14% 20%;
    --destructive: 8 92% 39%;
    --destructive-foreground: 0 0% 100%;
    --ring: 211.83 100% 54.9%;
    --radius: 0.5rem;
    --success: 173, 80%, 40%;
    --warning: 47, 100%, 48%;
    --error: 346, 94%, 57%;
    --vertical-menu-width: 263px;
    --vertical-menu-width-md: 263px;
    --vertical-menu-width-sm: 52px;
    --vc-primary-100: #e5f0ff;
    --vc-primary-200: #99c2ff;
    --vc-primary-300: #579aff;
    --vc-primary-400: #3385ff;
    --vc-primary-500: #0066ff;
    --vc-primary-600: #0052cc;
    --vc-primary-700: #003d99;
    --vc-primary-800: #002966;
    --vc-primary-900: #001433;
    --vc-gray-100: #f3f4f6;
    --vc-gray-200: #e5e7eb;
    --vc-gray-300: #d1d5db;
    --vc-gray-400: #9ca3af;
    --vc-gray-500: #6b7280;
    --vc-gray-600: #4b5563;
    --vc-gray-700: #374151;
    --vc-gray-800: #1f2937;
    --vc-gray-900: #111827;
    --vc-success-100: #dcfce7;
    --vc-success-200: #bbf7d0;
    --vc-success-300: #86efac;
    --vc-success-400: #4ade80;
    --vc-success-500: #22c55e;
    --vc-success-600: #16a34a;
    --vc-success-700: #15803d;
    --vc-success-800: #166534;
    --vc-success-900: #14532d;
    --vc-error-100: #fee2e2;
    --vc-error-200: #fecaca;
    --vc-error-300: #fca5a5;
    --vc-error-400: #f87171;
    --vc-error-500: #ef4444;
    --vc-error-600: #dc2626;
    --vc-error-700: #b91c1c;
    --vc-error-800: #991b1b;
    --vc-error-900: #7f1d1d;
    --vc-warning-100: #fef9c3;
    --vc-warning-200: #fef08a;
    --vc-warning-300: #fde047;
    --vc-warning-400: #facc15;
    --vc-warning-500: #eab308;
    --vc-warning-600: #ca8a04;
    --vc-warning-700: #a16207;
    --vc-warning-800: #854d0e;
    --vc-warning-900: #713f12;
    --vc-neutral-100: #f5f5f5;
    --vc-neutral-200: #e5e5e5;
    --vc-neutral-300: #d4d4d4;
    --vc-neutral-400: #a3a3a3;
    --vc-neutral-500: #737373;
    --vc-neutral-600: #525252;
    --vc-neutral-700: #404040;
    --vc-neutral-800: #262626;
    --vc-neutral-900: #171717;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 212 55% 2%;
    --foreground: 212 22% 97%;
    --muted: 212 25% 10%;
    --muted-foreground: 212 11% 75%;
    --popover: 212 55% 2%;
    --popover-foreground: 212 22% 97%;
    --card: 212 55% 2%;
    --card-foreground: 212 22% 97%;
    --border: 212 6% 11%;
    --input: 212 6% 11%;
    --primary: 212 100% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 4% 12%;
    --secondary-foreground: 212 4% 72%;
    --accent: 212 10% 22%;
    --accent-foreground: 212 10% 82%;
    --destructive: 8 92% 46%;
    --destructive-foreground: 0 0% 100%;
    --ring: 212 100% 55%;
    --success: 173, 80%, 40%;
    --warning: 47, 100%, 48%;
    --error: 346, 94%, 57%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  // body {
  //   @apply bg-background text-foreground;
  // }
}
